[submodule "src/external_dependencies/tau"]
	path = src/external_dependencies/tau
	url = https://github.com/vosel/tau
[submodule "src/external_dependencies/robot"]
	path = src/external_dependencies/robot
	url = https://github.com/Robot/robot
[submodule "src/external_dependencies/Catch"]
	path = src/external_dependencies/Catch
	url = https://github.com/philsquared/Catch
